.logo {
  height: 32px;
  margin: 16px auto;
  background: linear-gradient(to right, #1890ff, #74c0fc);
  border-radius: 5px;
}

.menu {
  padding: 16px;
  color: black;
}

.open-button-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;

  .open-button {
    transition: all 0.3s ease;
  }

  .open-button:hover {
    transform: scale(1.1);
  }

  .open {
    width: 120px;
  }

  .closed {
    width: 40px;
  }

}

.right-drawer-container {
  background-color: #d2e0fa !important;
}